body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: relative;
    height: 80%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .container{
    width: 100%;
    margin: 0 auto; /* Center the DIV horizontally */
}

.container a:hover {
  color: #1a4cd6;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    padding: 5px 0;
   
}
.fixed-header{
    height: 20%;
    top: 0;
    font-size: 25px;
    background-color: rgb(255, 255, 255);

}
.fixed-footer{
    bottom: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(6, 113, 253, 0.548);
    text-align: center;
}    
/* Some more styles to beutify this example */
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.container p{
    line-height: 100px; /* Create scrollbar to test positioning */
}

.toright{
  text-align: right;
}

.top-container {
padding: 10px;
text-align: center;
top:1;
background: rgb(255, 255, 255);

}



